@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login Page";
}

<style>
    .card {
margin-bottom: 1rem;
}

.list-view .row > [class*=col-] {
max-width: 100%;
flex: 0 0 100%;
}
.list-view .card {
flex-direction: row;
}
@@media (max-width: 575.98px) {
.list-view .card {
flex-direction: column;
}
}
.list-view .card > .card-img-top {
width: auto;
}
.list-view .card .card-body {
display: inline-block;
}
.cardbtn {
    border: 1px solid #fd7e14;
    border-radius: 22px;
}

    .cardbtn span {
        color: #fd7e14;
    }

.star {
    height: 1rem;
    width: 1rem;
}

.rule {
    display: flex;
    flex-direction: row;
}


hr {
    flex: 1;
    border: none;
    height: 2px;
    background: black;
}

.seat {
    font-size: 0.7rem;
}

.hrbtn-img {
    background-color: white !important;
    border: none;
    border-radius: 22px;
    color: #414141;
    z-index:1;
}

.hrbtn {
    background-color: white !important;
    border: 0.1rem solid rgb(184, 184, 184);
    border-radius: 22px;
    color: #414141;
    font-size:.8rem;

}

.img-btn {
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.5;
    border-radius: 18px;
    width: fit-content;
    padding: 0 6px;
    width: 6rem;
    height: 2rem;
    margin-left: -7rem;
    margin-top: 1rem !important;
}

    .img-btn p {
        color: #FFFFFF;
    }

.img-btn-2 {
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.5;
    border-radius: 50%;
    width: fit-content;
    margin-left: -3rem;
    margin-top: 10rem !important;
}

.img-btn-3 {
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.5;
    border-radius: 50%;
    width: fit-content;
    margin-left: -3rem;
    margin-top: 13rem !important;
}

</style>
    <div class="ms-5" id="navmaindiv"> 
    <div>
        <div class="d-flex flex-row justify-content-between ">
        <div class="d-flex ms-5" id="heading">
        <h4>Explore</h4>
        <h3><b>72 Missions</b></h3>
        </div>
        <div class="me-3">
                        <div class="dropdown">
              <button class="dropdown-toggle" type="button" style="background-color:white;" data-toggle="dropdown">Sort By
              <i class="bi bi-chevron-down "></i></button>
              <ul class="dropdown-menu">
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">JavaScript</a></li>
              </ul>
              <button class="btn-grid navbar-toggler" type="button" onclick="gridView()"id="filterSearch" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <img src="~/lib/images/grid.png">
                    </button>
                    <button class="btn-list navbar-toggler" type="button" onclick="listView()" id="filterSearch" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <img src="~/lib/images/list.png">
                    </button>
            </div>
        </div>
        </div>
    </div>
    </div>
    @*<div class="ms-5" id="navmaindiv">
        <div class="row">
  <div class="column" style="background-color:#aaa;">
     <div class="card">
                        <div class="d-inline position-relative">
                            <img src="~/lib/images/Grow-Trees-On-the-path-to-environment-sustainability-3.png" class="card-img-top"
                                 alt="Mission Image">
                            <button class="img-btn position-absolute" type="button"><img src="~/lib/images/pin.png" class="d-inline me-1" /><p class="d-inline">Toronto</p></button>
                                 <button class="img-btn-2 position-absolute" type="button"><img src="~/lib/images/heart.png" width="20px" height="20px" /></button>
                            <button class="img-btn-3 position-absolute" type="button"><img src="~/lib/images/eye.png" width="20px" height="20px" /></button>

                        </div>
                        
                        <div class="rule" style="margin-top:-20px !important;">
                            <hr>
                            <button class="hrbtn-img">Enviroment</button>
                            <hr>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Grow Trees-On the path to environment sustainability</h5>
                            <p class="card-text text-secondary">
                                Some quick example text to build on the card title and make up
                                the bulk
                                of the card's content.
                            </p>

                            <div class="d-flex">
                                <div class="card-text">Tree Canada</div>
                                <div class="ms-auto">
                                    <img src="~/lib/images/star.png" class="star">
                                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                                </div>
                            </div>

                            <div class="rule mt-1">
                                <hr>
                                <button class="hrbtn">From 10/01/2019 until 25/02/2019</button>
                                <hr>
                            </div>


                            <div class="d-flex flex-row justify-content-between">
                                <div class="d-flex flex-row align-items-center">
                                    <img src="~/lib/images/Seats-left.png" alt="" class="" height="30px" width="30px">
                                    <div class="d-flex flex-column ms-2">
                                        <p class="d-inline mb-0 pt-2">10</p>
                                        <p class="seat">Seats Left</p>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center">
                                    <img src="~/lib/images/deadline.png" height="33px" width="33px" alt="">
                                    <div class="d-flex flex-column ms-2">
                                        <p class="d-inline mb-0 pt-2">12/03/2023 </p>
                                        <p class="seat">Deadline</p>
                                    </div>

                                </div>

                            </div>

                            <div class="text-center">
                                <a href="#" class="btn cardbtn mx-auto ">
                                    <span>Apply</span> <img class="ms-1"
                                                            src="~/lib/images/right-arrow.png">
                                </a>
                            </div>
                        </div>
                    </div>
  </div>
  <div class="column" style="background-color:#bbb;">
  <div class="card">
                        <div class="d-inline position-relative">
                            <img src="~/lib/images/Grow-Trees-On-the-path-to-environment-sustainability-3.png" class="card-img-top"
                                 alt="Mission Image">
                            <button class="img-btn position-absolute" type="button"><img src="~/lib/images/pin.png" class="d-inline me-1" /><p class="d-inline">Toronto</p></button>
                                 <button class="img-btn-2 position-absolute" type="button"><img src="~/lib/images/heart.png" width="20px" height="20px" /></button>
                            <button class="img-btn-3 position-absolute" type="button"><img src="~/lib/images/eye.png" width="20px" height="20px" /></button>

                        </div>
                        
                        <div class="rule" style="margin-top:-20px !important;">
                            <hr>
                            <button class="hrbtn-img">Enviroment</button>
                            <hr>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Grow Trees-On the path to environment sustainability</h5>
                            <p class="card-text text-secondary">
                                Some quick example text to build on the card title and make up
                                the bulk
                                of the card's content.
                            </p>

                            <div class="d-flex">
                                <div class="card-text">Tree Canada</div>
                                <div class="ms-auto">
                                    <img src="~/lib/images/star.png" class="star">
                                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                                </div>
                            </div>

                            <div class="rule mt-1">
                                <hr>
                                <button class="hrbtn">From 10/01/2019 until 25/02/2019</button>
                                <hr>
                            </div>


                            <div class="d-flex flex-row justify-content-between">
                                <div class="d-flex flex-row align-items-center">
                                    <img src="~/lib/images/Seats-left.png" alt="" class="" height="30px" width="30px">
                                    <div class="d-flex flex-column ms-2">
                                        <p class="d-inline mb-0 pt-2">10</p>
                                        <p class="seat">Seats Left</p>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center">
                                    <img src="~/lib/images/deadline.png" height="33px" width="33px" alt="">
                                    <div class="d-flex flex-column ms-2">
                                        <p class="d-inline mb-0 pt-2">12/03/2023 </p>
                                        <p class="seat">Deadline</p>
                                    </div>

                                </div>

                            </div>

                            <div class="text-center">
                                <a href="#" class="btn cardbtn mx-auto ">
                                    <span>Apply</span> <img class="ms-1"
                                                            src="~/lib/images/right-arrow.png">
                                </a>
                            </div>
                        </div>
                    </div>
  </div>
   <div class="column" style="background-color:#bbb;">
     <div class="card">
                        <div class="d-inline position-relative">
                            <img src="~/lib/images/Grow-Trees-On-the-path-to-environment-sustainability-3.png" class="card-img-top"
                                 alt="Mission Image">
                            <button class="img-btn position-absolute" type="button"><img src="~/lib/images/pin.png" class="d-inline me-1" /><p class="d-inline">Toronto</p></button>
                                 <button class="img-btn-2 position-absolute" type="button"><img src="~/lib/images/heart.png" width="20px" height="20px" /></button>
                            <button class="img-btn-3 position-absolute" type="button"><img src="~/lib/images/eye.png" width="20px" height="20px" /></button>

                        </div>
                        
                        <div class="rule" style="margin-top:-20px !important;">
                            <hr>
                            <button class="hrbtn-img">Enviroment</button>
                            <hr>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Grow Trees-On the path to environment sustainability</h5>
                            <p class="card-text text-secondary">
                                Some quick example text to build on the card title and make up
                                the bulk
                                of the card's content.
                            </p>

                            <div class="d-flex">
                                <div class="card-text">Tree Canada</div>
                                <div class="ms-auto">
                                    <img src="~/lib/images/star.png" class="star">
                                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                                </div>
                            </div>

                            <div class="rule mt-1">
                                <hr>
                                <button class="hrbtn">From 10/01/2019 until 25/02/2019</button>
                                <hr>
                            </div>


                            <div class="d-flex flex-row justify-content-between">
                                <div class="d-flex flex-row align-items-center">
                                    <img src="~/lib/images/Seats-left.png" alt="" class="" height="30px" width="30px">
                                    <div class="d-flex flex-column ms-2">
                                        <p class="d-inline mb-0 pt-2">10</p>
                                        <p class="seat">Seats Left</p>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center">
                                    <img src="~/lib/images/deadline.png" height="33px" width="33px" alt="">
                                    <div class="d-flex flex-column ms-2">
                                        <p class="d-inline mb-0 pt-2">12/03/2023 </p>
                                        <p class="seat">Deadline</p>
                                    </div>

                                </div>

                            </div>

                            <div class="text-center">
                                <a href="#" class="btn cardbtn mx-auto ">
                                    <span>Apply</span> <img class="ms-1"
                                                            src="~/lib/images/right-arrow.png">
                                </a>
                            </div>
                        </div>
                    </div>
  </div>
</div>

<div class="album py-5 row">
  <div class="column" style="background-color:#ccc;">
    <div class="card">
                        <div class="d-inline position-relative">
                            <img src="~/lib/images/Grow-Trees-On-the-path-to-environment-sustainability-3.png" class="card-img-top"
                                 alt="Mission Image">
                            <button class="img-btn position-absolute" type="button"><img src="~/lib/images/pin.png" class="d-inline me-1" /><p class="d-inline">Toronto</p></button>
                                 <button class="img-btn-2 position-absolute" type="button"><img src="~/lib/images/heart.png" width="20px" height="20px" /></button>
                            <button class="img-btn-3 position-absolute" type="button"><img src="~/lib/images/eye.png" width="20px" height="20px" /></button>

                        </div>
                        
                        <div class="rule" style="margin-top:-20px !important;">
                            <hr>
                            <button class="hrbtn-img">Enviroment</button>
                            <hr>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Grow Trees-On the path to environment sustainability</h5>
                            <p class="card-text text-secondary">
                                Some quick example text to build on the card title and make up
                                the bulk
                                of the card's content.
                            </p>

                            <div class="d-flex">
                                <div class="card-text">Tree Canada</div>
                                <div class="ms-auto">
                                    <img src="~/lib/images/star.png" class="star">
                                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                                </div>
                            </div>

                            <div class="rule mt-1">
                                <hr>
                                <button class="hrbtn">From 10/01/2019 until 25/02/2019</button>
                                <hr>
                            </div>


                            <div class="d-flex flex-row justify-content-between">
                                <div class="d-flex flex-row align-items-center">
                                    <img src="~/lib/images/Seats-left.png" alt="" class="" height="30px" width="30px">
                                    <div class="d-flex flex-column ms-2">
                                        <p class="d-inline mb-0 pt-2">10</p>
                                        <p class="seat">Seats Left</p>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center">
                                    <img src="~/lib/images/deadline.png" height="33px" width="33px" alt="">
                                    <div class="d-flex flex-column ms-2">
                                        <p class="d-inline mb-0 pt-2">12/03/2023 </p>
                                        <p class="seat">Deadline</p>
                                    </div>

                                </div>

                            </div>

                            <div class="text-center">
                                <a href="#" class="btn cardbtn mx-auto ">
                                    <span>Apply</span> <img class="ms-1"
                                                            src="~/lib/images/right-arrow.png">
                                </a>
                            </div>
                        </div>
                    </div>
  </div>
  <div class="column" style="background-color:#ddd;">
     <div class="card">
                        <div class="d-inline position-relative">
                            <img src="~/lib/images/Grow-Trees-On-the-path-to-environment-sustainability-3.png" class="card-img-top"
                                 alt="Mission Image">
                            <button class="img-btn position-absolute" type="button"><img src="~/lib/images/pin.png" class="d-inline me-1" /><p class="d-inline">Toronto</p></button>
                                 <button class="img-btn-2 position-absolute" type="button"><img src="~/lib/images/heart.png" width="20px" height="20px" /></button>
                            <button class="img-btn-3 position-absolute" type="button"><img src="~/lib/images/eye.png" width="20px" height="20px" /></button>

                        </div>
                        
                        <div class="rule" style="margin-top:-20px !important;">
                            <hr>
                            <button class="hrbtn-img">Enviroment</button>
                            <hr>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Grow Trees-On the path to environment sustainability</h5>
                            <p class="card-text text-secondary">
                                Some quick example text to build on the card title and make up
                                the bulk
                                of the card's content.
                            </p>

                            <div class="d-flex">
                                <div class="card-text">Tree Canada</div>
                                <div class="ms-auto">
                                    <img src="~/lib/images/star.png" class="star">
                                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                                </div>
                            </div>

                            <div class="rule mt-1">
                                <hr>
                                <button class="hrbtn">From 10/01/2019 until 25/02/2019</button>
                                <hr>
                            </div>


                            <div class="d-flex flex-row justify-content-between">
                                <div class="d-flex flex-row align-items-center">
                                    <img src="~/lib/images/Seats-left.png" alt="" class="" height="30px" width="30px">
                                    <div class="d-flex flex-column ms-2">
                                        <p class="d-inline mb-0 pt-2">10</p>
                                        <p class="seat">Seats Left</p>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center">
                                    <img src="~/lib/images/deadline.png" height="33px" width="33px" alt="">
                                    <div class="d-flex flex-column ms-2">
                                        <p class="d-inline mb-0 pt-2">12/03/2023 </p>
                                        <p class="seat">Deadline</p>
                                    </div>

                                </div>

                            </div>

                            <div class="text-center">
                                <a href="#" class="btn cardbtn mx-auto ">
                                    <span>Apply</span> <img class="ms-1"
                                                            src="~/lib/images/right-arrow.png">
                                </a>
                            </div>
                        </div>
                    </div>
  </div>
</div>

    </div>*@
    <div class="container grid-container">
<div class="row">
<div class="col-12 col-md-6 col-lg-4">
    <div class="card">
        <div class="d-inline position-relative">
            <img src="~/lib/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top"
                 alt="Mission Image">
            <button class="img-btn position-absolute" type="button"><img src="~/lib/images/pin.png" class="d-inline me-1" /><p class="d-inline">Toronto</p></button>
                 <button class="img-btn-2 position-absolute" type="button"><img src="~/lib/images/heart.png" width="20px" height="20px" /></button>
            <button class="img-btn-3 position-absolute" type="button"><img src="~/lib/images/eye.png" width="20px" height="20px" /></button>

        </div>
        
        <div class="rule" style="margin-top:-20px !important;">
            <hr>
            <button class="hrbtn-img" id="hrbtn">Enviroment</button>
            <hr>
        </div>
        <div class="card-body">
            <h5 class="card-title">Grow Trees-On the path to environment sustainability</h5>
            <p class="card-text text-secondary">
                Some quick example text to build on the card title and make up
                the bulk
                of the card's content.
            </p>

            <div class="d-flex">
                <div class="card-text">Tree Canada</div>
                <div class="ms-auto">
                    <img src="~/lib/images/star.png" class="star">
                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                </div>
            </div>

            <div class="rule mt-1">
                <hr>
                <button class="hrbtn">From 10/01/2019 until 25/02/2019</button>
                <hr>
            </div>


            <div class="d-flex flex-row justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <img src="~/lib/images/Seats-left.png" alt="" class="" height="30px" width="30px">
                    <div class="d-flex flex-column ms-2">
                        <p class="d-inline mb-0 pt-2">10</p>
                        <p class="seat">Seats Left</p>
                    </div>
                </div>

                <div class="d-flex flex-row align-items-center">
                    <img src="~/lib/images/deadline.png" height="33px" width="33px" alt="">
                    <div class="d-flex flex-column ms-2">
                        <p class="d-inline mb-0 pt-2">12/03/2023 </p>
                        <p class="seat">Deadline</p>
                    </div>

                </div>

            </div>

            <div class="text-center">
                <a href="#" class="btn cardbtn mx-auto ">
                    <span>Apply</span> <img class="ms-1"
                                            src="~/lib/images/right-arrow.png">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-6 col-lg-4">
    <div class="card">
        <div class="d-inline position-relative">
            <img src="~/lib/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top"
                 alt="Mission Image">
            <button class="img-btn position-absolute" type="button"><img src="~/lib/images/pin.png" class="d-inline me-1" /><p class="d-inline">Toronto</p></button>
                 <button class="img-btn-2 position-absolute" type="button"><img src="~/lib/images/heart.png" width="20px" height="20px" /></button>
            <button class="img-btn-3 position-absolute" type="button"><img src="~/lib/images/eye.png" width="20px" height="20px" /></button>

        </div>
        
        <div class="rule" style="margin-top:-20px !important;">
            <hr>
            <button class="hrbtn-img" id="hrbtn">Enviroment</button>
            <hr>
        </div>
        <div class="card-body">
            <h5 class="card-title">Grow Trees-On the path to environment sustainability</h5>
            <p class="card-text text-secondary">
                Some quick example text to build on the card title and make up
                the bulk
                of the card's content.
            </p>

            <div class="d-flex">
                <div class="card-text">Tree Canada</div>
                <div class="ms-auto">
                    <img src="~/lib/images/star.png" class="star">
                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                </div>
            </div>

            <div class="rule mt-1">
                <hr>
                <button class="hrbtn">From 10/01/2019 until 25/02/2019</button>
                <hr>
            </div>


            <div class="d-flex flex-row justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <img src="~/lib/images/Seats-left.png" alt="" class="" height="30px" width="30px">
                    <div class="d-flex flex-column ms-2">
                        <p class="d-inline mb-0 pt-2">10</p>
                        <p class="seat">Seats Left</p>
                    </div>
                </div>

                <div class="d-flex flex-row align-items-center">
                    <img src="~/lib/images/deadline.png" height="33px" width="33px" alt="">
                    <div class="d-flex flex-column ms-2">
                        <p class="d-inline mb-0 pt-2">12/03/2023 </p>
                        <p class="seat">Deadline</p>
                    </div>

                </div>

            </div>

            <div class="text-center">
                <a href="#" class="btn cardbtn mx-auto ">
                    <span>Apply</span> <img class="ms-1"
                                            src="~/lib/images/right-arrow.png">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-6 col-lg-4">
    <div class="card">
        <div class="d-inline position-relative">
            <img src="~/lib/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top"
                 alt="Mission Image">
            <button class="img-btn position-absolute" type="button"><img src="~/lib/images/pin.png" class="d-inline me-1" /><p class="d-inline">Toronto</p></button>
                 <button class="img-btn-2 position-absolute" type="button"><img src="~/lib/images/heart.png" width="20px" height="20px" /></button>
            <button class="img-btn-3 position-absolute" type="button"><img src="~/lib/images/eye.png" width="20px" height="20px" /></button>

        </div>
        
        <div class="rule" style="margin-top:-20px !important;">
            <hr>
            <button class="hrbtn-img" id="hrbtn">Enviroment</button>
            <hr>
        </div>
        <div class="card-body">
            <h5 class="card-title">Grow Trees-On the path to environment sustainability</h5>
            <p class="card-text text-secondary">
                Some quick example text to build on the card title and make up
                the bulk
                of the card's content.
            </p>

            <div class="d-flex">
                <div class="card-text">Tree Canada</div>
                <div class="ms-auto">
                    <img src="~/lib/images/star.png" class="star">
                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                </div>
            </div>

            <div class="rule mt-1">
                <hr>
                <button class="hrbtn">From 10/01/2019 until 25/02/2019</button>
                <hr>
            </div>


            <div class="d-flex flex-row justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <img src="~/lib/images/Seats-left.png" alt="" class="" height="30px" width="30px">
                    <div class="d-flex flex-column ms-2">
                        <p class="d-inline mb-0 pt-2">10</p>
                        <p class="seat">Seats Left</p>
                    </div>
                </div>

                <div class="d-flex flex-row align-items-center">
                    <img src="~/lib/images/deadline.png" height="33px" width="33px" alt="">
                    <div class="d-flex flex-column ms-2">
                        <p class="d-inline mb-0 pt-2">12/03/2023 </p>
                        <p class="seat">Deadline</p>
                    </div>

                </div>

            </div>

            <div class="text-center">
                <a href="#" class="btn cardbtn mx-auto ">
                    <span>Apply</span> <img class="ms-1"
                                            src="~/lib/images/right-arrow.png">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-6 col-lg-4">
    <div class="card">
        <div class="d-inline position-relative">
            <img src="~/lib/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top"
                 alt="Mission Image">
            <button class="img-btn position-absolute" type="button"><img src="~/lib/images/pin.png" class="d-inline me-1" /><p class="d-inline">Toronto</p></button>
                 <button class="img-btn-2 position-absolute" type="button"><img src="~/lib/images/heart.png" width="20px" height="20px" /></button>
            <button class="img-btn-3 position-absolute" type="button"><img src="~/lib/images/eye.png" width="20px" height="20px" /></button>

        </div>
        
        <div class="rule" style="margin-top:-20px !important;">
            <hr>
            <button class="hrbtn-img" id="hrbtn">Enviroment</button>
            <hr>
        </div>
        <div class="card-body">
            <h5 class="card-title">Grow Trees-On the path to environment sustainability</h5>
            <p class="card-text text-secondary">
                Some quick example text to build on the card title and make up
                the bulk
                of the card's content.
            </p>

            <div class="d-flex">
                <div class="card-text">Tree Canada</div>
                <div class="ms-auto">
                    <img src="~/lib/images/star.png" class="star">
                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                </div>
            </div>

            <div class="rule mt-1">
                <hr>
                <button class="hrbtn">From 10/01/2019 until 25/02/2019</button>
                <hr>
            </div>


            <div class="d-flex flex-row justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <img src="~/lib/images/Seats-left.png" alt="" class="" height="30px" width="30px">
                    <div class="d-flex flex-column ms-2">
                        <p class="d-inline mb-0 pt-2">10</p>
                        <p class="seat">Seats Left</p>
                    </div>
                </div>

                <div class="d-flex flex-row align-items-center">
                    <img src="~/lib/images/deadline.png" height="33px" width="33px" alt="">
                    <div class="d-flex flex-column ms-2">
                        <p class="d-inline mb-0 pt-2">12/03/2023 </p>
                        <p class="seat">Deadline</p>
                    </div>

                </div>

            </div>

            <div class="text-center">
                <a href="#" class="btn cardbtn mx-auto ">
                    <span>Apply</span> <img class="ms-1"
                                            src="~/lib/images/right-arrow.png">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-6 col-lg-4">
    <div class="card">
        <div class="d-inline position-relative">
            <img src="~/lib/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top"
                 alt="Mission Image">
            <button class="img-btn position-absolute" type="button"><img src="~/lib/images/pin.png" class="d-inline me-1" /><p class="d-inline">Toronto</p></button>
                 <button class="img-btn-2 position-absolute" type="button"><img src="~/lib/images/heart.png" width="20px" height="20px" /></button>
            <button class="img-btn-3 position-absolute" type="button"><img src="~/lib/images/eye.png" width="20px" height="20px" /></button>

        </div>
        
        <div class="rule" style="margin-top:-20px !important;">
            <hr>
            <button class="hrbtn-img" id="hrbtn">Enviroment</button>
            <hr>
        </div>
        <div class="card-body">
            <h5 class="card-title">Grow Trees-On the path to environment sustainability</h5>
            <p class="card-text text-secondary">
                Some quick example text to build on the card title and make up
                the bulk
                of the card's content.
            </p>

            <div class="d-flex">
                <div class="card-text">Tree Canada</div>
                <div class="ms-auto">
                    <img src="~/lib/images/star.png" class="star">
                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                </div>
            </div>

            <div class="rule mt-1">
                <hr>
                <button class="hrbtn">From 10/01/2019 until 25/02/2019</button>
                <hr>
            </div>


            <div class="d-flex flex-row justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <img src="~/lib/images/Seats-left.png" alt="" class="" height="30px" width="30px">
                    <div class="d-flex flex-column ms-2">
                        <p class="d-inline mb-0 pt-2">10</p>
                        <p class="seat">Seats Left</p>
                    </div>
                </div>

                <div class="d-flex flex-row align-items-center">
                    <img src="~/lib/images/deadline.png" height="33px" width="33px" alt="">
                    <div class="d-flex flex-column ms-2">
                        <p class="d-inline mb-0 pt-2">12/03/2023 </p>
                        <p class="seat">Deadline</p>
                    </div>

                </div>

            </div>

            <div class="text-center">
                <a href="#" class="btn cardbtn mx-auto ">
                    <span>Apply</span> <img class="ms-1"
                                            src="~/lib/images/right-arrow.png">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-6 col-lg-4">
    <div class="card">
        <div class="d-inline position-relative">
            <img src="~/lib/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top"
                 alt="Mission Image">
            <button class="img-btn position-absolute" type="button"><img src="~/lib/images/pin.png" class="d-inline me-1" /><p class="d-inline">Toronto</p></button>
                 <button class="img-btn-2 position-absolute" type="button"><img src="~/lib/images/heart.png" width="20px" height="20px" /></button>
            <button class="img-btn-3 position-absolute" type="button"><img src="~/lib/images/eye.png" width="20px" height="20px" /></button>

        </div>
        
        <div class="rule" style="margin-top:-20px !important;">
            <hr>
            <button class="hrbtn-img" id="hrbtn">Enviroment</button>
            <hr>
        </div>
        <div class="card-body">
            <h5 class="card-title">Grow Trees-On the path to environment sustainability</h5>
            <p class="card-text text-secondary">
                Some quick example text to build on the card title and make up
                the bulk
                of the card's content.
            </p>

            <div class="d-flex">
                <div class="card-text">Tree Canada</div>
                <div class="ms-auto">
                    <img src="~/lib/images/star.png" class="star">
                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                    <img src="~/lib/images/star-empty.png" class="star" alt="">
                </div>
            </div>

            <div class="rule mt-1">
                <hr>
                <button class="hrbtn">From 10/01/2019 until 25/02/2019</button>
                <hr>
            </div>


            <div class="d-flex flex-row justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <img src="~/lib/images/Seats-left.png" alt="" class="" height="30px" width="30px">
                    <div class="d-flex flex-column ms-2">
                        <p class="d-inline mb-0 pt-2">10</p>
                        <p class="seat">Seats Left</p>
                    </div>
                </div>

                <div class="d-flex flex-row align-items-center">
                    <img src="~/lib/images/deadline.png" height="33px" width="33px" alt="">
                    <div class="d-flex flex-column ms-2">
                        <p class="d-inline mb-0 pt-2">12/03/2023 </p>
                        <p class="seat">Deadline</p>
                    </div>

                </div>

            </div>

            <div class="text-center">
                <a href="#" class="btn cardbtn mx-auto ">
                    <span>Apply</span> <img class="ms-1"
                                            src="~/lib/images/right-arrow.png">
                </a>
            </div>
        </div>
    </div>
</div>
</div>

</div>
    
<script>
function showList(e) {
    var $gridCont = $(".grid-container");
    // e.preventDefault();
    
   
    $gridCont.hasClass("list-view") ? $gridCont.removeClass("list-view") : $gridCont.addClass("list-view");
    }
    function gridList(e) {
    var $gridCont = $(".grid-container");
    e.preventDefault();
    $gridCont.removeClass("list-view");
    }
    
    $(document).on("click", ".btn-grid", gridList);
    $(document).on("click", ".btn-list", showList);
</script>