.login-img img{
    height: 100vh;
    cover-fit:fit;
}
.carousel-indicators button {
    height: 10px !important;
    width: 10px !important;
    margin: 0 10px !important;
    border-radius: 100% !important;
}

.carousel-caption 
{
     /* background: rgb(123,123,139);  */
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), transparent);
    position: absolute;
    right: 15%;
    bottom:-25px !important;
    /* left: 15%; */
    left: 0px;
    width: 100%;
    height: 32%;
    z-index: 10;
    padding-top: 20px;
    /* padding-bottom: 20px; */
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
}

.carousel-caption p, .carousel-caption h2{
    padding: 0% 25% 0% 10%;
}

.discription {
    text-align: center;
    font-size: 80%;
}

.font-color{
    color: #414141;
}

.btn{
    border-radius: 25px;
    border: 2px solid #F88634;
    width: 100%;
    padding: 1.5%;
    color: #F88634;
    background: #F8863400 0% 0% no-repeat padding-box;
}

.link{
    text-decoration: none;
}

.privacy1, .privacy2{
    margin-top: 43.5%;
}

/* .privacy2{
    margin-top: 43.5%;
} */

.privacy3{
    margin-top: 32%;
}

.privacy4{
    margin-top: 10%;
}

@media screen and (max-width:992px){

    .smscreen{
        margin-top: 5%;
    }   

    .login-img img{
        height: auto;
    }

    .privacy1{
        margin-top: 5%;
    }

    .privacy2, .privacy3{
        margin-top: 10%;
    }   
}