.card-body {
    width: 85%;
}

.center {
    margin-top: 30%;
    align-items: center;
}

.discription {
    text-align: center;
    font-size: 80%;
}

.font-color {
    color: #414141;
}

.reset-pass-btn {
    border-radius: 25px;
    border: 2px solid #F88634;
    width: 100%;
    padding: 1.5%;
    color: #F88634;
    background: #F8863400 0% 0% no-repeat padding-box;
}

.link {
    text-decoration: none;
}

.privacy {
    padding-top: 2rem;
}

@media screen {}