
.card-body{
    width: 85%;
}

.center{
    /* margin-top: 30%; */
    align-items: center;
}

.font-color{
    color: #414141;
}


.login-btn{
    border-radius: 25px;
    border: 2px solid #F88634;
    width: 100%;
    padding: 1.5%;
    color: #F88634;
    background: #F8863400 0% 0% no-repeat padding-box;
}

.link{
    text-decoration: none;
}

.create_acc, .link1{
    font-size: 14px;
}

.privacy{
    padding-top: 3%;
}

@media screen and (max-width:991px) {
    .center{
        margin-top: 0%;
        padding: 0%;
    }
}

@media screen and (min-width:991px) and (max-width:1100){
    .center{
        margin-top:10%
    }

}


