
.card-body{
    width: 85%;
}

.center{
    /* margin-top: 5%; */
    align-items: center;
}

.form-label{
    color: #414141;
}

.register-btn{
    border-radius: 25px;
    border: 2px solid #F88634;
    width: 100%;
    padding: 1.5%;
    color: #F88634;
    background: #F8863400 0% 0% no-repeat padding-box;
}

.link{
    text-decoration: none;
}

.link1{
    color: #414141;
}

.privacy{
    color: #414141;
    padding-top: 3%;
}